---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
// $base-font-family: Helvetica, Arial, sans-serif;
$base-font-family: apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
// $base-font-family: "Nunito",sans-serif;
// $base-font-family: "Quattrocento Sans",sans-serif;
$base-font-size:   17px;  
// $small-font-size:  $base-font-size * 0.875;
$small-font-size:  $base-font-size * 1;
// $base-line-height: 1.5;
$base-line-height: 25px;
$spacing-unit:     30px;

$text-color:       #000; 
// $text-color:       #666;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$on-palm:          600px;
$on-laptop:        800px;


// omar added
.flex-container {
    display: flex;
    flex-direction: row;
}

.flex-left {
    // width: 15%;
    width: 25%;
    height: auto;
    margin: 5px;
    padding: 5px;
    // border: 2px solid red;
}

.flex-right {
    width: 85%;
    margin: 5px;
    padding: 5px;
    // border: 2px solid green;
    // font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
}

.flex-right-standard {
    width: 85%;
    margin: 5px;
    padding: 5px;
    // border: 2px solid green;
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;
}


.btn {
    display: inline-block;
    font-weight: 300;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid grey;
    padding: .375rem .75rem;
    font-size:11px;
    line-height: 1.5;
    border-radius: .25rem;
    box-shadow: none !important;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}


// Classes for images
.z-depth-1 {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
}

.rounded {
    border-radius: .25rem !important;
}

// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
