<div class="media">
   <!-- right pic indicating conf 
  <a class="pull-right" >
    <img src="/img/paper/{{ include.paper.conf }}" alt="" style="max-width:50px; height:auto;"/>
  </a>
  -->
  <a class="pull-left" {% if include.paper.doc-url %} href="{{ include.paper.url }}" {% endif %}>
    <img src="/img/paper/{{ include.paper.img }}" alt="" style="max-width:220px; height:auto;"/>
  </a>
  <div class="media-body">
    <!-- citation -->
    {% if include.paper.logo %}<img src="/img/papers/{{ include.paper.logo }}" alt=""/>{% endif %}
    <a href="{{include.paper.url}}" target="_blank">{{ include.paper.title }}</a><br/>
    {% if include.paper.authors %}{{ include.paper.authors }}.{% endif %}<br/>
    {% if include.paper.conf2 %}<i>{{ include.paper.conf2 }}, {{ include.paper.year }}</i>.{% endif %}<br/>
    {% if include.paper.summary %}<small>{{ include.paper.summary }}</small>{% endif %}<br/>

    <br/>


    <!-- resources -->
    <!-- draft/slides/poster/talk -->



    <!-- amendments -->


  </div>
</div>
